<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FDS </title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/butons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
        {% block extrahead %}

        {% endblock extrahead %}
    </head>

    <body>
        {% include "includes/navigation.html" %}
        {% block content %}


        {% endblock content %}

        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        {% block extra_js %}

        {% endblock extra_js %}

    </body>

</html>